 
@{
    ViewData["Title"] = "Unit Of Measure";
}


<h1 style="text-align: center">Unit Of Measure</h1>
<hr style="width: 50%;text-align: center" />
<hr />
 
 
<div class="mt-4">
 
        <table class="table table-striped">
            <thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
 
                @foreach (var uom in Model)
                {
                    <tr>
                        <td>@uom.Name</td>
                        <td>@uom.Description</td>
                        
                    </tr>
                }
            </tbody>

        </table>
  

</div>